{% extends 'security/base_security.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form {
            padding-top: 1em;
            padding-bottom: 1em;
        }
        h1 {
            margin: 0;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="grid">

        <img src="{{ asset('img/logo-asso-echoes-blanc.png') }}" alt="Logo de l'association Echoes">

        <h1>Mot de passe oublié</h1>

        {{ form_start(form, {'attr': {'class': 'form login'}}) }}

        <div class="form__field">
            <label for="username">
                <i class="fas fa-user"></i>
                <span class="hidden">Email</span>
            </label>
            {{ form_widget(form.email, {'attr': {'class': 'form__input', 'placeholder': 'Email'}}) }}
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <p>Tu vas recevoir un email avec un lien pour réinitialiser ton mot de passe.</p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form__field">
            <input type="submit" value="Envoyer">
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
