<div class="card p-4 mb-4" id="pdf-form">
    {% if formCard is defined %}
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h6 class="text-uppercase pink font-weight-bolder">Fichier PDF</h6>
            <button type="submit" class="btn btn-outline-dark">
                <span class="material-icons pe-2">edit</span>Mettre à jour
            </button>
        </div>
    {% else %}
        <h6 class="text-uppercase pink font-weight-bolder mb-3">Fichier PDF</h6>
    {% endif %}
    {{ form_row(alt, {
        'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
        'label_attr':{'class':'form-label'},
        'row_attr': {'class':'input-group input-group-outline'}
    }) }}
    <small class="text-secondary">Le <b>alt</b> sert à l'audiodescription des images pour les non-voyants.</small>
    {{ form_row(imageFile) }}
    <label for="{{ label_for }}">
        <span id="file-upload-btn" class="btn btn-primary justify-content-center">
            <i class="material-icons text-white pe-2" aria-hidden="true">description</i>Drag or clic
        </span>
        <span class="text-secondary text-center d-block mt-2">Taille max : <b>2 Mo</b></span>
        <div class="position-relative">
            <div id="start" style="left: 0; top: 0; opacity: 0; position: absolute;">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div></div>
                <span id="file-upload-btn" class="btn btn-primary"></span>
                <div id="notimage" class="hidden"></div>
            </div>
        </div>
    </label>
    <div id="response" class="hidden">
        <div id="messages" class="text-primary"></div>
    </div>
    <span class="text-center text-hover_underline" data-modal-id="previewPdf"><strong>{{ pdfName }}</strong></span>
</div>

<!-- Modal Preview PDF -->
<div id="previewPdf" class="layout-modal">
    <div class="modal-content">
        <span class="close-layout-modal">&times;</span>
        <embed src="{{ asset('img/press_review/la_provence.pdf') }}" width="100%" height="90%" type="application/pdf"/>
    </div>
</div>
