<div class="{{ customClass is defined ? customClass : 'col-lg-6 col-12' }}" id="fileDrag">
    <div class="card p-4 mb-4">
        <h6 class="text-uppercase pink font-weight-bolder mb-3">{{ card_title }}</h6>
        {{ form_row(alt, {
            'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
            'label_attr':{'class':'form-label'},
            'row_attr': {'class':'input-group input-group-outline'}
        }) }}
        <small class="text-secondary">Le <b>alt</b> sert à l'audiodescription des images pour les non-voyants.</small>
        {{ form_row(imageFile) }}
        <label for="{{ label_for }}">
            <span id="file-upload-btn" class="btn btn-primary justify-content-center">
                <i class="material-icons text-white pe-2" aria-hidden="true">download_for_offline</i>Drag or clic
            </span>
            <p class="text-secondary text-center">Taille max : <b>2 Mo</b></p>
            {% if vich_uploader_asset(property, 'imageFile') is null %}
                <img id="file-image" src="{{ asset('img/back/default-drop-zone.png') }}" alt="image par défaut"/>
            {% else %}
                <img id="file-image" src="{{  vich_uploader_asset(property, 'imageFile') }}" style="width:75%; height:auto;">
            {% endif %}
            <div class="position-relative">
                <div id="start" style="left: 0; top: 0; opacity: 0; position: absolute;">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div></div>
                    <span id="file-upload-btn" class="btn btn-primary"></span>
                    <div id="notimage" class="hidden"></div>
                </div>
                <div id="response" class="hidden">
                    <div id="messages" class="pink"></div>
                </div>
            </div>
        </label>
    </div>
</div>
