{% extends 'back_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .session-heading {
            position: relative;
        }

        .month-name {
            padding: 3px 17px;
            background-color: var(--dark);
            color: white;
            width: fit-content;
            display: block;
            position: absolute;
            top: 16px;
            border-radius: 0 0 20px 20px;
        }
        hr {
            border-bottom: 1px solid var(--dark);
            margin-bottom: 3em;
        }
        .session {
            background-color: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 1em 2em 0 2em;
            border-radius: 20px;
            text-align: center;
            width: 240px;
            margin-right: 2em;
            margin-bottom: 2em;
        }
        .session-date-day {
            position: relative;
            display: flex;
            justify-content: center;
        }
        .session-date-day i {
            font-size: 157px;
            color: var(--primary);
            opacity: 0.7;
        }
        .date-day {
            font-weight: 900;
            font-family: 'Kanit', sans-serif;
            font-size: 34px;
            color: var(--primary);
        }

        .session-content {
            display: flex;
            flex-direction: column;
            font-family: 'Josefin sans', sans-serif;
        }
        .session-month-year {
            color: #7b7992;
        }
        .session-title {
            font-size: 20px;
            font-weight: 600;
            font-family: 'Kanit', sans-serif;
            text-transform: capitalize;
            letter-spacing: 1px;
            /*color: #006f6f;*/
        }
        .session-time i {
            font-weight: bold;
        }
        .session-footer {
            display: flex;
        }
        .session-footer > * {
            width: 50% !important;
            margin-bottom: 0;
            border-radius: 0;
            justify-content: center;
            margin-top: 15px;
        }
        .session-footer a {
            border-bottom-left-radius: 20px;
            border-top: 1px solid #b0b0b0 !important;
            border-right: 1px solid #b0b0b0 !important;
        }
        .session-footer a:hover {
            color: #7b7992 !important;
        }
        .session-footer span {
            border-bottom-right-radius: 20px;
            border-top: 1px solid #b0b0b0 !important;
        }
        .session-footer span:hover {
            color: #df2121 !important;
        }
        @media screen and (max-width: 600px) {
            #sessions {
                justify-content: center;
            }
            .session {
                margin-right: unset;
                margin-bottom: 1em;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row ms-0 w-100">
        <a class="btn bg-gradient-primary mb-4" style="width: fit-content" href="{{ path('back_add_session') }}">
            <i class="material-icons pe-2">add</i>Ajouter un atelier
        </a>
    </div>

    {% if sessions %}
        <div class="row ms-0 no-gutter w-100" id="sessions">
            {% for monthName, sessions in sessionsByMonth %}
                <div class="session-heading">
                    <hr>
                    <p class="month-name">{{ monthName }}</p>
                </div>
                {% for session in sessions %}
                    <div class="session" id="session-{{ session.id }}">
                        <span class="session-month-year">{{ session.date|date('Y') }}</span>
                        <div class="session-date-day">
                            <span class="date-day">{{ session.date|date('d') }} / {{ session.date|date('m') }}</span>
                        </div>
                        <div class="session-content">
                            <span class="session-title">{{ session.title }}</span>
                            <span class="session-location">
                            <i class="icon-pin text-primary"></i> {{ session.location }}
                        </span>
                        </div>
                        <div class="session-footer">
                            <a class="btn text-secondary action-btn" href="{{ path('back_edit_session', { 'id': session.id }) }}">
                                <i class="material-icons" aria-hidden="true">edit</i>
                            </a>
                            <span class="btn text-danger" onclick="deleteElem({{ session.id }}, 'Session', 'session-{{ session.id }}', 'Tu es sur le point de supprimer l\'atelier <b>{{ session|e('js') }}</b>')">
                                <i class="material-icons" aria-hidden="true">delete</i>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
