{% extends 'back_base.html.twig' %}

{% block body %}

    <a href="{{ path('back_team_members') }}" class="btn btn-secondary mb-4">
        <i class="material-icons pe-2">keyboard_backspace</i>Retour à la liste
    </a>

    {% for error in form_errors(form) %}
        <div class="form-error">{{ error.message }}</div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'flex-form', 'id': 'file-upload-form'}}) }}

    {% include 'widgets/upload_card.html.twig' with {card_title: 'Photo', label_for: 'team_member_media_imageFile_file', property: media, alt: form.media.alt, imageFile: form.media.imageFile} %}

    <div class="col-lg-6 col-12 ms-lg-4">
        <div class="card p-4 mb-4">
            <h6 class="text-uppercase pink font-weight-bolder mb-3">Informations générales</h6>
            {{ form_row(form.fullName, {
                'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                'label_attr':{'class':'form-label'},
                'row_attr': {'class':'input-group input-group-outline mb-3'},
            }) }}
            <div class="form-error">
                {{ form_errors(form.fullName) }}
            </div>
            {{ form_row(form.title, {
                'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                'label_attr':{'class':'form-label'},
                'row_attr': {'class':'input-group input-group-outline mb-3'}
            }) }}
            <div class="form-error">
                {{ form_errors(form.title) }}
            </div>
            {{ form_row(form.position, {
                'attr': {'class':'form-control'},
                'label_attr': {'class':'form-label'},
                'row_attr': {'class':'mb-3'}
            }) }}
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        <span class="material-icons pe-2">edit</span>{{ editMode ? 'Modifier' : 'Ajouter' }}
    </button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/back/upload.js') }}"></script>
{% endblock %}
