{% extends 'back_base.html.twig' %}

{% block body %}
    <div class="row ms-0 w-100">
        <a class="btn bg-gradient-primary mb-4" style="width: fit-content" href="{{ path('back_add_team_member') }}">
            <i class="material-icons pe-2">add</i>Ajouter un membre
        </a>
    </div>

    {% if teamMembers %}
        <form action="" method="post">
            <div class="row ms-0 no-gutter w-100">
                {% for member in teamMembers %}
                    <div class="col-xs-12 col-md-6 col-xl-3 me-4 mb-4" id="member-{{ member.id }}">
                        <div class="banner-card">
                            <figure>
                                <img src="{{ vich_uploader_asset(member.media, 'imageFile') }}" alt="{{ member.media.alt }}">
                                <div class="card-actions">
                                    <a class="btn btn-secondary action-btn" href="{{ path('back_edit_team_member', { 'id': member.id }) }}">
                                        <i class="material-icons" aria-hidden="true">edit</i>
                                    </a>
                                    <span class="btn btn-danger"
                                          onclick="deleteElem({{ member.id }}, 'TeamMember', 'member-{{ member.id }}', 'Tu es sur le point de supprimer <b>{{ member.fullName }}</b> de la liste des membres')"
                                    >
                                        <i class="material-icons" aria-hidden="true">delete</i>
                                    </span>
                                </div>
                            </figure>
                            <div class="card-body">
                                <h4 class="text-center mb-0">{{ member.fullName }}</h4>
                                <p class="text-center">{{ member.title }}</p>
                                <select class="form-select" name="member-{{ member.id }}-position">
                                    {% for i in 1..teamMembers|length %}
                                        <option value="{{ i }}" {{ i == member.position ? 'selected' : '' }}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" name="order" class="btn btn-secondary">
                <i class="material-icons pe-2">sync_alt</i>Changer l'ordre
            </button>
        </form>
    {% endif %}

{% endblock %}
