{% extends 'back_base.html.twig' %}

{% block body %}

    <a href="{{ path('back_edit_press', { 'id': press.id }) }}" class="btn btn-secondary mb-4 d-block mx-auto mt-5">
        <i class="material-icons pe-2">keyboard_backspace</i>Retour au dashboard
    </a>

    {{ form_start(form, {'attr': {'class': 'justify-form', 'id': 'file-upload-form'}}) }}

    <div class="'col-lg-6 col-12'" id="fileDrag">
        {% include 'widgets/pdf_upload_card.html.twig' with {
            label_for: 'press_pdf_pdf_imageFile_file', pdfName: pdf.picture, alt: form.pdf.alt, imageFile: form.pdf.imageFile
        } %}
    </div>

    <button type="submit" class="btn btn-success">
        <span class="material-icons pe-2">edit</span>Mettre à jour
    </button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/back/upload.js') }}"></script>
{% endblock %}
