{% extends 'back_base.html.twig' %}

{% block body %}

    <a href="{{ path('back_podcasts') }}" class="btn btn-secondary mb-4">
        <i class="material-icons pe-2">keyboard_backspace</i>Retour à la liste
    </a>

    {% for error in form_errors(form) %}
        <div class="form-error">{{ error.message }}</div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'flex-form', 'id': 'file-upload-form'}}) }}

        <div class="col-lg-6 col-12" id="fileDrag">
            <div class="card p-4 mb-4">
                <h6 class="text-uppercase pink font-weight-bolder mb-3">Artwork</h6>
                {{ form_row(form.media.alt, {
                    'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline'}
                }) }}
                <small class="text-secondary">Le <b>alt</b> sert à l'audiodescription des images pour les non-voyants.</small>
                {{ form_row(form.media.imageFile) }}
                <label for="podcast_media_imageFile_file">
                    <span id="file-upload-btn" class="btn btn-primary">
                        <i class="material-icons text-white pe-2" aria-hidden="true">download_for_offline</i>Drag or clic
                    </span>
                    <p class="text-secondary text-center">Taille max : <b>2 Mo</b></p>
                    {% if vich_uploader_asset(media, 'imageFile') is null %}
                        <img id="file-image" src="{{ asset('img/back/default-drop-zone.png') }}" alt="image par défaut"/>
                    {% else %}
                        <img id="file-image" src="{{  vich_uploader_asset(media, 'imageFile') }}" style="width:75%; height:auto;">
                    {% endif %}
                    <div class="position-relative">
                        <div id="start" style="left: 0; top: 0; opacity: 0; position: absolute;">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <div></div>
                            <span id="file-upload-btn" class="btn btn-primary"></span>
                            <div id="notimage" class="hidden"></div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages" class="pink"></div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-lg-6 col-12 ms-lg-4">
            <div class="card p-4 mb-4">
                <h6 class="text-uppercase pink font-weight-bolder mb-3">Informations générales</h6>
                {{ form_row(form.title, {
                    'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline mb-3'},
                }) }}
                <div class="form-error">
                    {{ form_errors(form.title) }}
                </div>
                {{ form_row(form.subtitle, {
                    'attr': { 'class':'form-control', 'onfocus':'focused(this)', 'onfocusout':'defocused(this)' },
                    'label_attr':{'class':'form-label'},
                    'row_attr': {'class':'input-group input-group-outline mb-3'}
                }) }}
                {{ form_row(form.position, {
                    'attr': {'class':'form-control'},
                    'label_attr': {'class':'form-label'},
                    'row_attr': {'class':'mb-3'}
                }) }}
            </div>
        </div>

    <button type="submit" class="btn btn-success">
        <span class="material-icons pe-2">edit</span>{{ editMode ? 'Modifier' : 'Ajouter' }}
    </button>

{#    {% if editMode %}#}
{#        {{ form_widget(form.save, { 'label': 'Modifier', 'attr': { 'class': 'btn btn-success' }}) }}#}
{#    {% else %}#}
{#        {{ form_widget(form.save, { 'label': 'Ajouter', 'attr': { 'class': 'btn btn-success' }}) }}#}
{#    {% endif %}#}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/back/upload.js') }}"></script>
{% endblock %}
