{% extends 'front_base.html.twig' %}

{% block title %}Boîte à souvenir{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/association.css') }}" data-njs>

        <figure class="logo">
            <img class="reveal-type" src="{{ vich_uploader_asset(asso.media, 'imageFile') }}" alt="{{ asso.media.alt }}" />
        </figure>

        <section id="association">

            {% if activityReports|length < 1 %}
                <div class="container">
            {% endif %}

            <div class="infos" {% if activityReports|length < 1 %}style="width: 100%;margin-right: 0;"{% endif %}>


                <article>
                    {{ asso.text | raw }}
                    <a href="{{ path('front_team') }}" data-njs-href="{{ path('front_team') }}" class="main-btn"><i class="icon-next"></i> Découvrez l'équipe</a>
                </article>
            </div>

            {% if activityReports|length < 1 %}
                </div>
            {% endif %}

            {% if activityReports|length > 0 %}
                <div class="activity-reports">
                    <h1>Rapports d'activités</h1>
                    <p>Retrouvez tous nos rapports d'activités téléchargeables</p>
                    <div class="reports">
                    {% for report in activityReports %}
                        <a href="{{ vich_uploader_asset(report.media) }}" title="{{ report.title }}" download="" class="main-btn download"><i class="icon-download"></i>{{ report.title }}</a>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}

        </section>

        <script data-njs>
            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {

            }
        </script>

    </navigate-js>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
