{% extends 'front_base.html.twig' %}

{% block title %}Boîte à souvenir{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/association.css') }}" data-njs>

        <section id="association">

            <div class="container">

                <figure class="logo">
                    <img class="reveal-type" src="{{ vich_uploader_asset(asso.media, 'imageFile') }}" alt="{{ asso.media.alt }}" />
                </figure>

                <article>
                    {{ asso.text | raw }}
                    <a href="{{ path('front_team') }}" data-njs-href="{{ path('front_team') }}" class="main-btn"><i class="icon-next"></i> Découvrez l'équipe</a>
                </article>
            </div>

        </section>

        <script data-njs>
            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {

            }
        </script>

    </navigate-js>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
