{% extends 'front_base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/gallery.css') }}" data-njs>

        <div class="gallery-overlay"></div>

        <div id="gallery" class="container">
            <figure class="wide" data-title="Photo 1" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-1.jpeg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-1.jpeg') }}" alt="Photo 1">
                <figcaption>Photo 1</figcaption>
            </figure>
            <figure class="tall" data-title="Photo 2" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-2.JPG') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-2.JPG') }}" alt="Photo 2">
                <figcaption>Photo 2</figcaption>
            </figure>
            <figure class="square" data-title="Photo 4" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-4.JPG') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-4.JPG') }}" alt="Photo 4">
                <figcaption>Photo 4</figcaption>
            </figure>
            <figure class="wide" data-title="Photo 5" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-5.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-5.jpg') }}" alt="Photo 5">
                <figcaption>Photo 5</figcaption>
            </figure>
            <figure class="tall" data-title="Photo 6" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-6.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-6.jpg') }}" alt="Photo 6">
                <figcaption>Photo 6</figcaption>
            </figure>
            <figure class="tall" data-title="Photo 7" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-7.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-7.jpg') }}" alt="Photo 7">
                <figcaption>Photo 7</figcaption>
            </figure>
            <figure class="square" data-title="Photo 8" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-8.JPG') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-8.JPG') }}" alt="Photo 8">
                <figcaption>Photo 8</figcaption>
            </figure>
            <figure class="wide" data-title="Photo 9" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-9.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-9.jpg') }}" alt="Photo 9">
                <figcaption>Photo 9</figcaption>
            </figure>
        </div>

        <div class="gallery-modal">
            <div class="modal-content">
                <div class="next"><i class="fas fa-chevron-right"></i></div>
                <div class="previous"><i class="fas fa-chevron-left"></i></div>
                <span class="close-gallery-modal"><i class="fas fa-times"></i></span>
                <img src="" id="picture-replace" alt="Image dynamique en fonction de la gallerie précédente">
            </div>
        </div>

        <script src="{{ asset('js/gallery.js') }}" data-njs></script>

    </navigate-js>
{% endblock %}
