{% extends 'front_base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/lib/gallery.css') }}" >

        <div class="gallery-overlay"></div>

        <div id="gallery">
            <figure class="wide" data-title="Photo 1" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-1.jpeg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-1.jpeg') }}" alt="Photo 1">
                <figcaption>Photo 1</figcaption>
            </figure>
            <figure class="square" data-title="Photo 2" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-2.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-2.jpg') }}" alt="Photo 2">
                <figcaption>Photo 2</figcaption>
            </figure>
            <figure class="tall" data-title="Photo 4" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-4.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-4.jpg') }}" alt="Photo 4">
                <figcaption>Photo 4</figcaption>
            </figure>
            <figure class="square" data-title="Photo 5" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-5.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-5.jpg') }}" alt="Photo 5">
                <figcaption>Photo 5</figcaption>
            </figure>
            <figure class="square" data-title="Photo 6" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-6.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-6.jpg') }}" alt="Photo 6">
                <figcaption>Photo 6</figcaption>
            </figure>
            <figure class="wide" data-title="Photo 7" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-7.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-7.jpg') }}" alt="Photo 7">
                <figcaption>Photo 7</figcaption>
            </figure>
            <figure class="square" data-title="Photo 8" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-8.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-8.jpg') }}" alt="Photo 8">
                <figcaption>Photo 8</figcaption>
            </figure>
            <figure class="square" data-title="Photo 9" style="background-image: url('{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-9.jpg') }}')">
                <img class="hide-image" src="{{ asset('img/gallery/echoes-la-boite-a-souvenirs-radio-en-EHPAD-9.jpg') }}" alt="Photo 9">
                <figcaption>Photo 9</figcaption>
            </figure>
        </div>

        <div class="gallery-modal">
            <div class="modal-content">
                <div class="next"><i class="fas fa-chevron-right"></i></div>
                <div class="previous"><i class="fas fa-chevron-left"></i></div>
                <span class="close-gallery-modal"><i class="fas fa-times"></i></span>
                <img src="" id="picture-replace" alt="Image dynamique en fonction de la gallerie précédente">
            </div>
        </div>

        <script data-njs>
            document.addEventListener('DOMContentLoaded', initGallery);
            document.addEventListener('njs:done', initGallery);

            // if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {
            //     initGallery();
            // }

            function initGallery() {

                const gallery = document.getElementById("gallery");
                let galleryModal = document.querySelector('.gallery-modal');
                let mainOverlay = document.querySelector('.gallery-overlay');
                let replacePicture = document.getElementById('picture-replace');
                let index, prevIndex, nextIndex;
                const previousBtn = document.querySelector('.gallery-modal .previous');
                const nextBtn = document.querySelector('.gallery-modal .next');

                for (let i = gallery.children.length; i >= 0; i--) {
                    gallery.appendChild(gallery.children[Math.random() * i | 0]);
                }

                const pictures = document.querySelectorAll('#gallery figure');
                const picturesArray = Array.from(pictures)

                pictures.forEach(picture => {
                    picture.addEventListener('click', () => showPicture(picture) );
                });

                function showPicture(picture) {
                    replacePicture.src = picture.querySelector('img').src;
                    openCloseModal(galleryModal, mainOverlay);
                    index = picturesArray.indexOf(picture);
                    defineIndexes(index);
                }

                function defineIndexes(index) {
                    // define previous
                    prevIndex = index === 0 ? picturesArray.length - 1 : index - 1;
                    // define next index
                    nextIndex = index === picturesArray.length - 1 ? 0 : index + 1;
                }

                // Close modal btn
                document.querySelector('.close-gallery-modal').onclick = function() {
                    openCloseModal(galleryModal, mainOverlay)
                }

                // Click outside ? close modal
                galleryModal.onclick = function(event) {
                    if (event.target === galleryModal) {
                        openCloseModal(galleryModal, mainOverlay)
                    }
                }

                previousBtn.addEventListener('click', () => {
                    index = (index - 1 < 0) ? picturesArray.length - 1 : index - 1;
                    defineIndexes(index)
                    animateChange(prevIndex);
                });
                nextBtn.addEventListener('click', () => {
                    index = (index + 1 > picturesArray.length - 1) ? 0 : index + 1;
                    defineIndexes(index);
                    animateChange(nextIndex);
                });

                function animateChange(index) {
                    // fade out current image
                    galleryModal.querySelector('.modal-content').classList.add('opacity-0');

                    // fade in next image
                    setTimeout(() => {
                        replacePicture.src = picturesArray[index].querySelector('img').src;
                        galleryModal.querySelector('.modal-content').classList.remove('opacity-0')
                    }, 300)
                }
            }
        </script>

    </navigate-js>
{% endblock %}
