{% extends 'front_base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/gallery.css') }}" data-njs>

        <div class="gallery-overlay"></div>

        {% if pictures %}
            <div id="gallery" class="container">
                {% for picture in pictures %}

                    {% set figureClass = '' %}
                    {% if picture.type is null or picture.type == 'wide' %}
                        {% set figureClass = 'wide' %}
                    {% elseif picture.type == constant('App\\Entity\\Gallery::TYPE_SQUARE') %}
                        {% set figureClass = 'square' %}
                    {% elseif picture.type == constant('App\\Entity\\Gallery::TYPE_TALL') %}
                        {% set figureClass = 'tall' %}
                    {% endif %}

                    <figure class="{{ figureClass }}" data-title="{{ picture.title }}" style="background-image: url('{{ vich_uploader_asset(picture.media, 'imageFile') }}')">
                        <img class="hide-image" src="{{ vich_uploader_asset(picture.media, 'imageFile') }}" alt="{{ picture.media.alt }}">
                        <figcaption class="d-flex flex-column">
                            <span>{{ picture.title }}</span>
                            {% if picture.credit %}
                                <small class="credits">© {{ picture.credit }}</small>
                            {% endif %}
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        {% endif %}

        <div class="gallery-modal">
            <div class="modal-content">
                <div class="next"><i class="icon-chevron-right"></i></div>
                <div class="previous"><i class="icon-chevron-left"></i></div>
                <span class="close-gallery-modal"><i class="icon-times"></i></span>
                <img src="" id="picture-replace" alt="Image dynamique en fonction de la gallerie précédente">
            </div>
        </div>

        <script src="{{ asset('js/gallery.js') }}" data-njs></script>

    </navigate-js>
{% endblock %}
