{% extends 'front_base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/lib/slider.css') }}" data-njs>


        <div class="app">

            <div class="cardList">
                <button class="cardList__btn btn btn--left">
                    <div class="icon">
                        <i class="icon-previous"></i>
                    </div>
                </button>

                <div class="cards__wrapper">
                    <div class="btn play-icon" data-modal-id="podcast-modal">
                        <i class="icon-play"></i>
                    </div>

                    {% if podcast1 %}
                        <div class="card current--card">
                            <div class="card__image">
                                <img src="{{ vich_uploader_asset(podcast1.media, 'imageFile') }}" alt="{{ podcast1.media.alt }}" />
                            </div>
                        </div>
                    {% endif %}

                    {% if podcast2 %}
                        <div class="card next--card">
                            <div class="card__image">
                                <img src="{{ vich_uploader_asset(podcast2.media, 'imageFile') }}" alt="{{ podcast2.media.alt }}" />
                            </div>
                        </div>
                    {% endif %}

                    {% if podcast3 %}
                        <div class="card previous--card">
                            <div class="card__image">
                                <img src="{{ vich_uploader_asset(podcast3.media, 'imageFile') }}" alt="{{ podcast3.media.alt }}" />
                            </div>
                        </div>
                    {% endif %}
                </div>

                <button class="cardList__btn btn btn--right">
                    <div class="icon">
                        <i class="icon-next"></i>
                    </div>
                </button>
            </div>

            <div class="infoList">
                <div class="info__wrapper">
                    {% if podcast1 %}
                        <div class="info current--info">
                            <h1 class="text name">{{ podcast1.title }}</h1>
                            <p class="text description">{{ podcast1.subtitle }}</p>
                        </div>
                    {% endif %}
                    {% if podcast2 %}
                        <div class="info next--info">
                            <h1 class="text name">{{ podcast2.title }}</h1>
                            <p class="text description">{{ podcast2.subtitle }}</p>
                        </div>
                    {% endif %}
                    {% if podcast3 %}
                        <div class="info previous--info">
                            <h1 class="text name">{{ podcast3.title }}</h1>
                            <p class="text description">{{ podcast3.subtitle }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="app__bg">
                {% if podcast1 %}
                    <div class="app__bg__image current--image">
                        <img src="{{ vich_uploader_asset(podcast1.media, 'imageFile') }}" alt="{{ podcast1.media.alt }}" />
                    </div>
                {% endif %}
                {% if podcast2 %}
                    <div class="app__bg__image next--image">
                        <img src="{{ vich_uploader_asset(podcast2.media, 'imageFile') }}" alt="{{ podcast2.media.alt }}" />
                    </div>
                {% endif %}
                {% if podcast3 %}
                    <div class="app__bg__image previous--image">
                        <img src="{{ vich_uploader_asset(podcast3.media, 'imageFile') }}" alt="{{ podcast3.media.alt }}" />
                    </div>
                {% endif %}
            </div>
        </div>

        {#        <div class="banner-text">#}
        {#            <h2 class="pink">Ecoute nos podcast !</h2>#}
        {#        </div>#}

        <div class="loading__wrapper">
            <div class="loader--text">Loading...</div>
            <div class="loader">
                <span></span>
            </div>
        </div>

        <svg class="icons" style="display: none;">
            <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
                <polyline points='328 112 184 256 328 400'
                          style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
            </symbol>
            <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
                <polyline points='184 112 328 256 184 400'
                          style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
            </symbol>
        </svg>


        <section id="insights" class="height-section">
            <div class="container">
                {% if numbers %}
                    {% for number in numbers %}
                        <div class="insight reveal-type">
                            <div class="insight-icon">
                                <img src="{{ vich_uploader_asset(number.media, 'imageFile') }}" alt="{{ number.media.alt }}">
                            </div>
                            <div class="insight-title">{{ number.title }}</div>
                            <div class="count" data-end="{{ number.number }}" data-second-duration="1"></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>

        <!-- COMMENT NEWS -->
{#        <section id="news" class="height-section reveal-type">#}
{#            <h1>Actualités</h1>#}
{#            <div class="blog-slider">#}
{#                <div class="blog-slider__wrp swiper-wrapper">#}
{#                    <div class="blog-slider__item swiper-slide">#}
{#                        <div class="blog-slider__img">#}
{#                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">#}
{#                        </div>#}
{#                        <div class="blog-slider__content">#}
{#                            <span class="blog-slider__code">26 December 2019</span>#}
{#                            <div class="blog-slider__title">Lorem Ipsum Dolor</div>#}
{#                            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>#}
{#                            <a href="#" class="main-btn">READ MORE</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="blog-slider__item swiper-slide">#}
{#                        <div class="blog-slider__img">#}
{#                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">#}
{#                        </div>#}
{#                        <div class="blog-slider__content">#}
{#                            <span class="blog-slider__code">26 December 2019</span>#}
{#                            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>#}
{#                            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>#}
{#                            <a href="#" class="main-btn">READ MORE</a>#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="blog-slider__item swiper-slide">#}
{#                        <div class="blog-slider__img">#}
{#                            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">#}
{#                        </div>#}
{#                        <div class="blog-slider__content">#}
{#                            <span class="blog-slider__code">26 December 2019</span>#}
{#                            <div class="blog-slider__title">Lorem Ipsum Dolor</div>#}
{#                            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>#}
{#                            <a href="#" class="main-btn">READ MORE</a>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}
{#                <div class="blog-slider__pagination"></div>#}
{#            </div>#}
{#        </section>#}

        <section id="sessions" class="height-section reveal-type">
            <div class="container">
                <h1>Prochains ateliers</h1>
                <!-- Swiper -->
                <div class="swiper sessions-swiper">
                    <div class="swiper-wrapper">

                        {% if sessions %}
                            {% for session in sessions %}
                                <div class="swiper-slide">
                                    <div class="session">
                                        <div class="session-date-day">
                                            <i class="icon-calendar" aria-hidden="true"></i>
                                            <span class="date-day">{{ session.date|date('d') }}/{{ session.date|date('m') }}</span>
                                        </div>
                                        <div class="session-content">
                                            <span class="session-month-year">{{ session.date|date('Y') }}</span>
                                            <span class="session-title">{{ session.title }}</span>
                                            <span class="session-location">
                                                <i class="icon-pin text-primary"></i> {{ session.location }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="sessions-pagination"></div>
                </div>
            </div>
        </section>

        <script src="{{ asset('js/slider.js') }}" type="module" data-njs></script>

    </navigate-js>

{% endblock %}
