{% extends 'front_base.html.twig' %}

{% block title %}Boîte à souvenir{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <div id="memory">

            <div class="hero-banner got-title" style="background-image: url('{{ vich_uploader_asset(memorybox.banner, 'imageFile') }}')">
                <img src="{{ vich_uploader_asset(memorybox.banner, 'imageFile') }}" alt="{{ memorybox.banner.alt }}" class="d-none">
                <h1 class="mt-0 reveal-type">{{ memorybox.title }}</h1>
            </div>

            <article class="container">

                {% if memorybox.subtitle %}
                    <p class="text-center"><em>{{ memorybox.subtitle }}</em></p>
                {% endif %}

                <div class="image-and-text">

                    {% if memorybox.banner %}
                        <img src="{{ vich_uploader_asset(memorybox.media, 'imageFile') }}" alt="{{ memorybox.media.alt }}" class="reveal-type">
                    {% endif %}

                    {% if memorybox.firstText %}
                        <div class="text reveal-type">
                            {{ memorybox.firstText | raw }}
                        </div>
                    {% endif %}
                </div>

                {% if memorybox.secondText %}
                    <div class="reveal-type">
                        {{ memorybox.secondText | raw }}
                    </div>
                {% endif %}
            </article>

        </div>

        <script data-njs>
            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded') && window.innerWidth < 900) {
                init();
            }

            window.addEventListener('DOMContentLoaded', () => {
                if (window.innerWidth < 900)
                    init();
            });

            function init() {
                const img = document.querySelector('.image-and-text img');
                const firstParagraph = document.querySelector(".image-and-text p:first-of-type");

                firstParagraph.after(img);
            }
        </script>

    </navigate-js>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
