{% extends 'front_base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <h1 class="container" style="padding-top: 2em">Cette section est en cours de travail</h1>

        <!-- COMMENT NEWS -->
{#        <link rel="stylesheet" href="{{ asset('css/front/news.css') }}" data-njs>#}

{#        <div class="hero-banner got-title" style="background-image: url('{{ asset('img/old-people-illustration-2.png') }}')">#}
{#            <img src="{{ asset('img/old-people-illustration-2.png') }}" alt="Photo de la radiobox" class="d-none">#}
{#            <h1 class="mt-0 reveal-type">Actualités</h1>#}
{#        </div>#}

{#        <section id="news" class="container">#}
{#            <p>La mise en place de studio-radio éphémère afin de resserrer les liens sociaux entre les seniors tout en libérant leur parole et en faisant travailler leur mémoire par la thématique du souvenir. Conduit par des animatrices radio professionnelles, ces ateliers traversent cette thématique sous plusieurs prismes : musique, cinéma, souvenirs personnels issus des récits de vie de chacun (jeunesse, vie de quartier, fête, événement marquant … )</p>#}

{#            <p>La création d'un podcast inclusif, intergénérationnel et créatif. Tantôt amené à prendre le rôle de présentateur radio ou de journaliste, nos seniors habitués à écouter la radio vont passer de l’autre côté de l’antenne ! Dans ce podcast, nos aînés ont une place où exprimer leurs désirs et leur créativité, se sentir valorisé et faire entendre leurs voix dans un podcast accessible gratuitement !</p>#}
{#        </section>#}

{#        <script data-njs>#}
{#            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {#}
{#                console.log('page news loaded');#}
{#            }#}
{#        </script>#}

    </navigate-js>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
