{% extends 'front_base.html.twig' %}

{% block title %}Boîte à souvenir{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/partners.css') }}" data-njs>

        <section id="partners">

            <div class="container">

                <h1 class="text-center">{{ partnerGlobal.title }}</h1>
                <p class="text-center">{{ partnerGlobal.subtitle }}</p>

                <section class="financial-partners">
                    <h2 class="section-title">Les financeurs</h2>
                    <div class="logos">
                        {% for partner in financialPartners %}
                            <figure class="reveal-type">
                                <img src="{{ vich_uploader_asset(partner.media, 'imageFile') }}" alt="{{ partner.media.alt }}">
                                <figcaption>{{ partner.title }}</figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                </section>

                <section class="collaborative-partners">
                    <h2 class="section-title">Nous avons collaboré</h2>
                    <div class="logos">
                        {% for partner in collaboratorPartners %}
                            <figure class="reveal-type">
                                <img src="{{ vich_uploader_asset(partner.media, 'imageFile') }}" alt="{{ partner.media.alt }}">
                                <figcaption>{{ partner.title }}</figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </section>

    </navigate-js>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
