{% extends 'front_base.html.twig' %}

{% block title %}Boîte à souvenir{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/press_review.css') }}" data-njs>

        <section id="press-review">

            <div class="container">

                <h1 class="text-center">Revue de presse</h1>

                {% if pressReview %}
                    <a href="{{ vich_uploader_asset(pressReview) }}" title="{{ pressReview.alt }}" download="" class="main-btn download"><i class="icon-download"></i> Revue de presse complète</a>
                {% endif %}

                <section class="main-press">
                    <div class="left">
                        {% if pressItem1 %}
                            <div class="press-item">
                                <figure class="press-thumb" data-modal-id="preview-img-1">
                                    <img src="{{ vich_uploader_asset(pressItem1.media, 'imageFile') }}" alt="{{ pressItem1.media.alt }}">
                                </figure>
                                <div class="press-info">
                                    <span class="title">{{ pressItem1.title }}</span>
                                    {% if pressItem1.link %}
                                        <a href="{{ pressItem1.link }}" target="_blank" class="press-link">Consulter la ressource</a>
                                    {% endif %}
                                    {% if pressItem1.date %}
                                        <span class="date">{{ pressItem1.date }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if pressItem2 %}
                            <div class="press-item">
                                <figure class="press-thumb" data-modal-id="preview-img-2">
                                    <img src="{{ vich_uploader_asset(pressItem2.media, 'imageFile') }}" alt="{{ pressItem2.media.alt }}">
                                </figure>
                                <div class="press-info">
                                    <span class="title">{{ pressItem2.title }}</span>
                                    {% if pressItem2.link %}
                                        <a href="{{ pressItem2.link }}" target="_blank" class="press-link">Consulter la ressource</a>
                                    {% endif %}
                                    {% if pressItem2.date %}
                                        <span class="date">{{ pressItem2.date }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="right">
                        {% if pressItem3 %}
                            <div class="press-item">
                                <figure class="press-thumb" data-modal-id="preview-pdf">
                                    <img src="{{ vich_uploader_asset(pressItem3.media, 'imageFile') }}" alt="{{ pressItem3.media.alt }}">
                                </figure>
                                <div class="press-info">
                                    <span class="title">{{ pressItem3.title }}</span>
                                    {% if pressItem3.link %}
                                        <a href="{{ pressItem3.link }}" target="_blank" class="press-link">Consulter la ressource</a>
                                    {% endif %}
                                    {% if pressItem3.date %}
                                        <span class="date">{{ pressItem3.date }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </section>
            </div>

            {% if pressItem1 %}
                <div id="preview-img-1" class="preview-img layout-modal">
                    <div class="modal-content">
                        <span class="close-layout-modal">&times;</span>
                        {% if pressItem1.pdf %}
                            <embed src="{{ vich_uploader_asset(pressItem1.pdf) }}" width="100%" height="90%" type="application/pdf"/>
                        {% else %}
                            <img src="{{ vich_uploader_asset(pressItem1.media, 'imageFile') }}" alt="{{ pressItem1.media.alt }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if pressItem2 %}
                <div id="preview-img-2" class="preview-img layout-modal">
                    <div class="modal-content">
                        <span class="close-layout-modal">&times;</span>
                        {% if pressItem2.pdf %}
                            <embed src="{{ vich_uploader_asset(pressItem2.pdf) }}" width="100%" height="90%" type="application/pdf"/>
                        {% else %}
                            <img src="{{ vich_uploader_asset(pressItem2.media, 'imageFile') }}" alt="{{ pressItem2.media.alt }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if pressItem3 %}
                <div id="preview-pdf" class="layout-modal">
                    <div class="modal-content">
                        <span class="close-layout-modal">&times;</span>
                        {% if pressItem3.pdf %}
                            <embed src="{{ vich_uploader_asset(pressItem3.pdf) }}" width="100%" height="90%" type="application/pdf"/>
                        {% else %}
                            <img src="{{ vich_uploader_asset(pressItem3.media, 'imageFile') }}" alt="{{ pressItem3.media.alt }}">
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </section>

        <script data-njs>
            // Somehow, all modal don't work when the page is loaded with navigate-js, so we need to re-append them to the modals-wrapper and re-attach the event listener
            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {
                init();
            }

            document.addEventListener('DOMContentLoaded', () => {
                setTimeout(() => {
                    closeLayoutModal();
                }, 500);
            });

            function init() {
                document.querySelectorAll('.layout-modal').forEach(modal => {
                    document.getElementById('modals-wrapper').appendChild(modal);
                })

                document.getElementById('press-review').querySelectorAll('[data-modal-id]').forEach(btn => {
                    let modal = document.getElementById(btn.dataset.modalId);
                    btn.addEventListener('click', () => openCloseModal(modal, document.querySelector('.overlay')));
                });

                closeLayoutModal();
            }
        </script>

    </navigate-js>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
