{% extends 'front_base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block main %}

    <navigate-js>

        {% if radiobox %}
            <div id="radiobox">

                <h1 class="container">La Radiobox</h1>

                <div class="hero-banner" style="background-image: url('{{ vich_uploader_asset(radiobox.banner, 'imageFile') }}')">
                    <img class="d-none" src="{{ vich_uploader_asset(radiobox.mobileBanner, 'imageFile') }}" alt="{{ radiobox.mobileBanner.alt }}">
                </div>

                <article class="container">
                    {% if radiobox.subtitle %}
                        <h2 class="rect-title reveal-type">{{ radiobox.subtitle }}</h2>
                    {% endif %}

                    {% if radiobox.firstText %}
                        <div class="reveal-type">
                            {{ radiobox.firstText | raw }}
                        </div>
                    {% endif %}
                    <div class="image-and-text">
                        <img src="{{ vich_uploader_asset(radiobox.media, 'imageFile') }}" alt="{{ radiobox.media.alt }}" class="reveal-type">
                        {% if radiobox.secondText %}
                            <div class="reveal-type">
                                {{ radiobox.secondText | raw }}
                            </div>
                        {% endif %}
                    </div>

                    <a href="https://mkwaves.org/" target="_blank" class="making-waves-link"><i class="icon-next"></i> Visiter le site de Making Waves</a>
                </article>
            </div>
        {% endif %}
    </navigate-js>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
