{% extends 'front_base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <navigate-js>

        <link rel="stylesheet" href="{{ asset('css/front/team.css') }}" data-njs>

        <section id="team">
            <div class="container">
                <h1 class="text-center">{{ teamInfo.title }}</h1>

                {% if teamInfo.subtitle %}
                    <p class="text-center">{{ teamInfo.subtitle }}</p>
                {% endif %}

                <section id="team-members">

                    {% if teamMembers %}
                        {% for team in teamMembers %}
                            <div class="team-member reveal-type">
                                <figure class="member-photo">
                                    <img src="{{ vich_uploader_asset(team.media, 'imageFile') }}" alt="{{ team.media.alt }}">
                                </figure>
                                <div class="member-name-role">
                                    <span class="member-role">{{ team.title }}</span>
                                    <div class="member-name">{{ team.fullName }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </section>

                <section class="card-links reveal-type">
                    <div class="card">
                        <i class="icon-volunteer card-icon"></i>
                        <div class="card-text">Adhérer à l'association en quelques clics :</div>
                        <a class="main-btn pointer" href="https://www.helloasso.com/associations/echoes/adhesions/cotisation-annuelle-a-l-association-echoes" target="_blank">Adhérer</a>
                    </div>
                    <div class="card">
                        <i class="icon-charity"></i>
                        <div class="card-text">Vous aimeriez devenir bénévole ?</div>
                        <a class="main-btn pointer" data-njs-href="{{ path('front_contact') }}" href="{{ path('front_contact') }}">Nous écrire</a>
                    </div>
                </section>

            </div>
        </section>

{#        <script type="module" data-njs>#}
{#            document.addEventListener('DOMContentLoaded', initTeam);#}
{#            document.addEventListener('resize', initTeam);#}

{#            if (document.querySelector('navigate-js').classList.contains('njs-page-loaded')) {#}
{#                initTeam();#}
{#            }#}

{#            function initTeam() {#}
{#                const teamMembers = document.querySelectorAll('.team-member');#}
{#                teamMembers.forEach((member) => {#}
{#                    member.style.width = window.innerWidth > 900 ? 90 / teamMembers.length + '%' : 'unset';#}
{#                });#}
{#            }#}
{#        </script>#}
    </navigate-js>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
