<!DOCTYPE html>
<html>
    <head>
        <title>Association Echoes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bienvenue sur le site de l’association Echoes qui a pour but de promouvoir des projets culturels et solidaires luttant contre l’isolement, à travers la production de podcasts radio avec des seniors dans la métropole d’Aix-Marseille.">
        <meta name="keywords" content="Echoes, radio, podcast, EHPAD, seniors, bien-vieillir, isolement, solidaire, personne âgée, culture, art, partage, bien-être">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('img/favicon/site.webmanifest') }}">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.kaizenmouse.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Association Echoes">
        <meta property="og:description" content="L’association Echoes a pour but de promouvoir des projets culturels et solidaires luttant contre l’isolement, à travers la production de podcasts radio avec des seniors dans la métropole d’Aix-Marseille.">
        <meta property="og:image" content="{{ asset('img/logo-asso-echoes-blanc.png') }}">

        <!-- Twitter Meta Tags -->
        <meta property="twitter:url" content="https://www.kaizenmouse.com/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Association Echoes">
        <meta property="twitter:domain" content="kaizenmouse.com">
        <meta name="twitter:description" content="L’association Echoes a pour but de promouvoir des projets culturels et solidaires luttant contre l’isolement, à travers la production de podcasts radio avec des seniors dans la métropole d’Aix-Marseille.">
        <meta name="twitter:image" content="{{ asset('img/logo-asso-echoes-blanc.png') }}">

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">

        <!-- CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/lib/burger.css') }}">
            <link rel="stylesheet" href="{{ asset('css/lib/player.css') }}">
            <link
                    rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
            />
            <link rel="stylesheet" href="{{ asset('css/front/style.css') }}">

            <style>

                :root {
                    --primary: {{ mainColor.color }};
                }

                @font-face {
                    font-family: 'icomoon';
                    src:  url('{{ asset("fonts/icomoon.eot?2z9h1y") }}');
                    src:  url('{{ asset("fonts/icomoon.eot?2z9h1y#iefix") }}') format('embedded-opentype'),
                    url('{{ asset("fonts/icomoon.ttf?2z9h1y") }}') format('truetype'),
                    url('{{ asset("fonts/icomoon.woff?2z9h1y") }}') format('woff'),
                    url('{{ asset("fonts/icomoon.svg?2z9h1y#icomoon") }}') format('svg');
                    font-weight: normal;
                    font-style: normal;
                    font-display: block;
                }
                [class^="icon-"], [class*=" icon-"] {
                    font-family: 'icomoon' !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                .icon-download:before { content: "\e91a"; }
                .icon-facebook:before { content: "\e916"; }
                .icon-instagram:before { content: "\e917"; }
                .icon-linkedin:before { content: "\e918"; }
                .icon-mail:before { content: "\e919"; }
                .icon-clock:before { content: "\e90e"; font-weight: bold; }
                .icon-pin:before { content: "\e90f"; }
                .icon-chevron-left:before { content: "\e910"; }
                .icon-chevron-right:before { content: "\e911"; }
                .icon-next:before { content: "\e912"; }
                .icon-play:before { content: "\e913"; }
                .icon-previous:before { content: "\e914"; }
                .icon-times:before { content: "\e915"; }
                .icon-heart-filled:before { content: "\e909"; }
                .icon-heart-unfilled:before { content: "\e90a"; }
                .icon-charity:before { content: "\e90b"; }
                .icon-broadcast:before { content: "\e90c"; }
                .icon-volunteer:before { content: "\e90d"; }
                .icon-hero:before { content: "\e908"; }
                .icon-calendar:before { content: "\e907"; }
                .icon-headset:before { content: "\e903"; }
                .icon-micro:before { content: "\e904"; }
                .icon-radiobox:before { content: "\e905"; }
                .icon-wave:before { content: "\e906"; }
                .icon-podcast:before { content: "\e900"; }
                .icon-elder:before { content: "\e901"; }
                .icon-radio:before { content: "\e902"; }
            </style>
        {% endblock %}

        {% block javascripts %}
{#            <script src="https://kit.fontawesome.com/73ab01ebea.js" crossorigin="anonymous"></script>#}
            <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script src="{{ asset('js/script.js') }}" type="module"></script>
        {% endblock %}

    </head>
    <body>

        <header>
            <div id="echoes-logo">
                <a href="{{ path('front_home') }}" data-njs-href="{{ path('front_home') }}"><img src="{{ asset('img/logo-asso-echoes.png') }}" alt="Logo de Echoes"></a>
            </div>
            <div class="toggle-menu">
                <div id="burger" class="burger">
                    <div class="burger-icon">
                        <div class="burger-container">
                            <span class="burger-bun-top"></span>
                            <span class="burger-filling"></span>
                            <span class="burger-bun-bot"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-buttons">
                <div class="header-btn donate-wrapper" data-modal-id="hello-asso-modal">
{#                <div class="header-btn donate-wrapper" data-modal-id="hello-asso-modal">#}
                    <i class="icon-heart-unfilled" aria-hidden="true"></i>
                    <span class="fw-bold josefin">Faire un don</span>
                </div>
                <div class="header-btn podcast-wrapper" data-modal-id="podcast-modal">
                    <i class="icon-radio" aria-hidden="true"></i>
                    <span class="fw-bold josefin">Les podcasts</span>
                </div>
            </div>
        </header>

        <div id="menu" class="">
            <div id="menu-top">
                <nav>
                    <div class="menu-list logo">
                        <a href="{{ path('front_home') }}" data-njs-href="{{ path('front_home') }}"><img src="{{ asset('img/logo-asso-echoes.png') }}" alt="Logo de Echoes"></a>
                    </div>
                    <div class="menu-list-wrapper">
                        <div class="menu-list">
                            <span class="menu-title">Accueil</span>
                            <div class="nav-links">
                                <div class="go-back-mobile-nav">
                                    <span><i class="icon-previous"></i> Retour</span>
                                    <span class="ariane">Accueil</span>
                                </div>
                                <a href="{{ path('front_home') }}" data-njs-href="{{ path('front_home') }}">Retour à la case départ</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <span class="menu-title">Echoes</span>
                            <div class="nav-links">
                                <div class="go-back-mobile-nav">
                                    <span><i class="icon-previous"></i> Retour</span>
                                    <span class="ariane">Echoes</span>
                                </div>
                                <a href="{{ path('front_association') }}" data-njs-href="{{ path('front_association') }}">L'association</a>
                                <a href="{{ path('front_team') }}" data-njs-href="{{ path('front_team') }}">L’équipe</a>
                                <a href="{{ path('front_radiobox') }}" data-njs-href="{{ path('front_radiobox') }}">La radiobox</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <span class="menu-title">Les ateliers</span>
                            <div class="nav-links">
                                <div class="go-back-mobile-nav">
                                    <span><i class="icon-previous"></i> Retour</span>
                                    <span class="ariane">Les Ateliers</span>
                                </div>
                                <a href="{{ path('front_memory_box') }}" data-njs-href="{{ path('front_memory_box') }}">La Boîte à souvenirs</a>
                                <!-- COMMENT NEWS -->
{#                                <a href="{{ path('front_news') }}" data-njs-href="{{ path('front_news') }}">Actualités</a>#}
                                <a href="{{ path('front_gallery') }}" data-njs-href="{{ path('front_gallery') }}">Galerie Photo</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <span class="menu-title">Espace Pro</span>
                            <div class="nav-links">
                                <div class="go-back-mobile-nav">
                                    <span><i class="icon-previous"></i> Retour</span>
                                    <span class="ariane">Espace Pro</span>
                                </div>
                                <a href="{{ path('front_press_review') }}" data-njs-href="{{ path('front_press_review') }}">Revue de presse</a>
                                <a href="{{ path('front_rent') }}" data-njs-href="{{ path('front_rent') }}">Louer notre radiobox</a>
                                <a href="{{ path('front_organize') }}" data-njs-href="{{ path('front_organize') }}">Organiser un atelier</a>
                                <a href="{{ path('front_partners') }}" data-njs-href="{{ path('front_partners') }}">Nos partenaires</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <span class="menu-title">Contact</span>
                            <div class="nav-links">
                                <div class="go-back-mobile-nav">
                                    <span><i class="icon-previous"></i> Retour</span>
                                    <span class="ariane">Contact</span>
                                </div>
                                <a href="{{ path('front_contact') }}" data-njs-href="{{ path('front_contact') }}">Envoyez nous un mail</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <aside>
                    <a class="btn btn-rect btn-black" href="https://www.helloasso.com/associations/echoes/adhesions/cotisation-annuelle-a-l-association-echoes" target="_blank"><i class="icon-charity"></i> Devenir adhérent</a>
                    <button class="btn btn-rect btn-black" data-modal-id="newsletter-modal" onclick="burgerTime()"><i class="icon-broadcast"></i> Inscription newsletter</button>
                    <a class="btn btn-rect btn-black" href="{{ path('front_organize') }}" data-njs-href="{{ path('front_organize') }}"><i class="icon-headset"></i> Organiser un atelier</a>
                    <a class="btn btn-rect btn-black" href="{{ path('front_rent') }}" data-njs-href="{{ path('front_rent') }}"><i class="icon-radio" aria-hidden="true"></i> Louer notre radiobox</a>
                </aside>
            </div>
        </div>

        <div id="modals-wrapper">
            <div id="hello-asso-modal" class="layout-modal">
                <div class="modal-content">
                    <span class="close-layout-modal">&times;</span>
                    <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/echoes/formulaires/1/widget" style="width: 100%; height: 750px; border: none;"></iframe>
                </div>
            </div>

            <div id="podcast-modal" class="layout-modal">
                <div class="modal-content">
                    <span class="close-layout-modal">&times;</span>
                    <script defer data-format="playlist" data-pId="6427" src="https://players.podcastics.com/podcastics/player.js"></script>
                </div>
            </div>

            <div id="newsletter-modal" class="layout-modal">
                <div id="newsletter-modal-card" class="modal-content">
                    <span class="close-layout-modal">&times;</span>
                    <div class="rainbow"><span></span><span></span></div>
                    <div class="newsletter-wrapper">
                        <h3 class="newsletter-title">Inscription Newsletter</h3>
                        <p class="newsletter-text">Pour ne pas rater un seul podcast et recevoir les dernières actualités de l'asso !</p>
                        <form id="newsletter-form" method="post" data-route="{{ path('add_contact_news') }}">
                            <input id="newsletter-email" name="newsletter-email" class="text-center" type="email" placeholder="mon_mail@gmail.com"/>
                            <input class="main-btn" type="submit" value="Envoyer"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <div class="overlay"></div>
            {% for message in app.session.flashbag.get('success') %}
                <div class="d-none toast-alert" data-toast-title="Super !" data-toast-message="{{ message }}" data-toast-type="success" data-toast-duration="10000"></div>
            {% endfor %}
            {% for message in app.session.flashbag.get('error') %}
                <div class="d-none toast-alert" data-toast-title="Erreur" data-toast-message="{{ message }}" data-toast-type="error" data-toast-duration="10000"></div>
            {% endfor %}
            <div id="toast"></div>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <section class="double">
                    <div class="footer-left">
                        <img src="{{ asset('img/logo-asso-echoes-blanc.png') }}" alt="Logo de l'association echoes">
                        <div class="social-icons icon-circle icon-rotate">
                            <a target="_blank" href="https://www.facebook.com/associationechoes" class="footer-social-link"><i class="icon-facebook facebook"></i></a>
                            <a target="_blank" href="https://www.instagram.com/association_echoes/" class="footer-social-link"><i class="icon-instagram instagram"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/association-echoes/" class="footer-social-link"><i class="icon-linkedin linkedin"></i></a>
                            <a href="mailto:association.echoes@gmail.com" class="footer-social-link pointer"><i class="icon-mail gmail"></i></a>
                        </div>
                    </div>
                    <div class="footer-right">
                        <p>Association loi 1901</p>
                        <p>SIRET : 793032103 00038</p>
                        <p>Ancien Chemin du Coton Rouge, 13100 Aix-en-Provence</p>
                        <div class="footer-buttons">
                            <a href="{{ path('front_contact') }}" data-njs-href="{{ path('front_contact') }}" class="main-btn">Contactez nous</a>
                            <span class="main-btn" data-modal-id="newsletter-modal">Newsletter</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="credits"><em>Site réalisé par <a href="https://ugo-barathe.com" class="credit-link">Ugo Barathe</a></em></div>
        </footer>

    </body>
</html>
